basePath: /v1
host: frens.moe
info:
  contact:
    name: Frens Repo
    url: http://www.github.com/bwoff11/frens
  description: ActivityPub social network API
  license:
    name: MIT License
    url: http://www.github.com/bwoff11/frens/docs/LICENSE.md
  termsOfService: http://swagger.io/terms/
  title: Frens API
  version: "1.0"
paths:
  /bookmarks/{bookmarkId}:
    get:
      consumes:
      - application/json
      description: Get the details of a specific bookmark based on the provided ID
      parameters:
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Retrieve a bookmark by ID
      tags:
      - Bookmarks
  /users/{userId}/bookmarks:
    get:
      consumes:
      - application/json
      description: Get all bookmarks for a specific user based on the provided ID.
        Only callable by the owner.
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Retrieve all bookmarks by user ID
      tags:
      - Bookmarks
swagger: "2.0"
