basePath: /v1
host: frens.moe
info:
  contact:
    name: Frens Repo
    url: http://www.github.com/bwoff11/frens
  description: ActivityPub social network API
  license:
    name: MIT License
    url: http://www.github.com/bwoff11/frens/docs/LICENSE.md
  termsOfService: http://swagger.io/terms/
  title: Frens API
  version: "1.0"
paths:
  /bookmarks:
    get:
      consumes:
      - application/json
      description: Get the bookmarks for the user based on the provided token
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get the bookmarks for self
      tags:
      - Bookmarks
    post:
      consumes:
      - application/json
      description: Create a bookmark for a specific post based on the provided ID
      parameters:
      - description: Post ID
        in: body
        name: postId
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Create a bookmark for a post
      tags:
      - Bookmarks
  /bookmarks/{bookmarkId}:
    delete:
      consumes:
      - application/json
      description: Delete a specific bookmark based on the provided ID
      parameters:
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Delete a bookmark by ID
      tags:
      - Bookmarks
    get:
      consumes:
      - application/json
      description: Get the details of a specific bookmark based on the provided ID
      parameters:
      - description: Bookmark ID
        in: path
        name: bookmarkId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Retrieve a bookmark by ID
      tags:
      - Bookmarks
  /bookmarks/count:
    get:
      consumes:
      - application/json
      description: Get the count of bookmarks for the user based on the provided token
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get the count of bookmarks for self
      tags:
      - Bookmarks
swagger: "2.0"
